*{
    margin:0;
    padding:0;
    font-family:'Poppins';
}

@font-face{
    src:url(../assets/fonts/Poppins-Regular.ttf) format('truetype'),
    url(../assets/fonts/Poppins-BoldItalic.ttf) format('truetype');
    font-family: 'Poppins';
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh; 
    background-color: hsl(0, 0%, 94%);
}

main{
    
    width: 50%;
    background-color:hsl(0, 0%, 100%);
    padding:20px;
    border-radius:10px 10px 50px; 
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.inputs{
    display:flex;
    gap:5%
}

.caixa{
    display:flex;
    flex-direction:column;

}

input[type=number]{
    width: 6rem;
    padding:5px;
    font-size: 2rem;
}

/* Botao Action */

.botao-container{
    display:flex;
    align-items: center;
}

.botao-container hr{
    width: calc(100% - 45px);
}


.imagem{
    background-color:hsl(259, 100%, 65%);
    width: 45px;
    height: 45px;
    padding:5px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
}

/* Result*/

.resultado em{
    font-size: 2.625rem;
    font-weight: 800;

}

.resultado span{
    color: hsl(259, 100%, 65%);
}




